# virtual environment
venv/
venv/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/


# results
results/
lambda_experiment_results*/
figures/
figures_adaptivelr/
figures_lr3e-4/
test_figures/
smallgridsweep/
smallgridsweep_figures_7j/
smallgridsweep_figures_20j/
hyperparameter_interpolation/
elementary_topology_results/
elementary_topology_plots/
figures_switching_adaptive/
fixed_lambda_baseline_results_*/
adaptive_lambda_results_*/
comparison_plots/
trajectory_videos/
adaptive_lambda_results/

# pnl
pnl-show_graph-output/

# legacy
legacy/

# checkpoints
checkpoints/

# videos
trajectory\ videos/

# markdowns
*.md